body,
html {
    height: 80%;
    box-sizing: border-box;
    margin: 0px;
}



.opis {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
    box-sizing: border-box;
    background-image: radial-gradient(white, goldenrod);
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.opis1 {
    display: flex;
}
/*OVO je izmenjeno*/
#korpa {
    flex-wrap: wrap;
}
#omotacDugme{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.omotacKorpe{
    background-image: radial-gradient(white, goldenrod, grey);
}
.linkovi {
    border: 0px;
    width: 200px;
    height: 200px;
    margin: 8px 50px;
    justify-content: center;
}



p {
    padding: 20px;
}

.dugme {
    border-radius: 30px;
    border: 0cm;
    padding: 20px;
    text-decoration: none;
    width: 100px;
    height: 50px;
    margin: 5px;
}
button :hover{
    background-color: brown;

}

a {
   text-decoration: none;
   color: black;
}


.dugme :hover,
#omotacDugme :hover, a :hover {
    background-color: darkgoldenrod;
    color: white;
    font-weight: bold;
}
