body,
html {
    height: 80%;
    box-sizing: border-box;
    margin: 0px;
}

.parallax1 {
    /* The image used */
    background-image: url('../slikezavrsni/pozoriste1.jpg');
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url('../slikezavrsni/filharmonija5.jpg');
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url('../slikezavrsni/filharmonija4.jpg');
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.opis {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px 40px;
    box-sizing: border-box;
    background-color: bisque;
    font-size: 16px;
    justify-content: center;
}

.linkovi {
    width: 150px;
    height: 150px;
    margin: 10px;
}

p {
    padding: 20px;
}

.dugme {
    border-radius: 30px;
    padding: 20px;
    text-decoration: none;
    width: 100px;
    height: 50px;
    margin: 5px;
}

a {
    text-decoration: none;
}

.dugme :hover,
#omotacDugme :hover {
    background-color: brown;
    color: white;
}