<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/drama.css" />

    <title>Drama</title>

</head>

<body>

    <div class="parallax1">
    <div id="omotacDugme">
            <button type="button" class="dugme"><a href="../index.html"> Home</a></button><br>
         </div> 
    </div>     
    <div class="opis">
        <img id="drama1" class="linkovi" alt="drama1" src="../slikezavrsni/drama1.jpg"> PREDSTAVA1
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique diam in tempor condimentum. Proin condimentum a purus non malesuada. Nulla et dignissim libero, a accumsan enim. Quisque at auctor dolor. Praesent vitae neque iaculis,
            molestie sapien quis, pretium est. Sed vehicula</p>
        <img id="drama2" class="linkovi" alt="drama2" src="../slikezavrsni/drama2.jpg">PREDSTAVA2
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique diam in tempor condimentum. Proin condimentum a purus non malesuada. Nulla et dignissim libero, a accumsan enim. Quisque at auctor dolor. Praesent vitae neque iaculis,
            molestie sapien quis, pretium est. Sed vehicula</p>
    </div>

    <div class="parallax2"></div>

    <div class="opis">
        <img id="drama3" class="linkovi" alt="drama3" src="../slikezavrsni/drama3.jpg"> PREDSTAVA3
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique diam in tempor condimentum. Proin condimentum a purus non malesuada. Nulla et dignissim libero, a accumsan enim. Quisque at auctor dolor. Praesent vitae neque iaculis,
            molestie sapien quis, pretium est. Sed vehicula</p>
        <img id="drama4" class="linkovi" alt="drama4" src="../slikezavrsni/drama10.jpg">PREDSTAVA4
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique diam in tempor condimentum. Proin condimentum a purus non malesuada. Nulla et dignissim libero, a accumsan enim. Quisque at auctor dolor. Praesent vitae neque iaculis,
            molestie sapien quis, pretium est. Sed vehicula</p>
    </div>

    <div class="parallax3"></div>

    

    <!--<script src="../js/drama.js"></script>-->
    <script>
    </script>
</body>

</html>