<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/baletshop.css" />

    <title>Filharmonija</title>

</head>

<body><div class="omotacKorpe">       
        
        <div id="omotacDugme">
           <button type="button" class="dugme" id="dugme"><a href="korpakorisnik.html" > Kupi</a></button><br>
           <button type="button" class="dugme" id="dugme1"><a href="korpakorisnik.html"> Korpa</a></button><br>
           <button type="button" class="dugme" id="dugme2"><a href="prodavnica.html">E-shop</a> </button>
           <button type="button" class="dugme" id="dugme3"><a href="../index.html"> Home</a></button><br>
                     
        </div>    

    <div class="opis" id="korpa">
        <!--
        <div>
            <img id="filharmonija1" class="linkovi" alt="filharmonija1" src="../slikezavrsni/filharmonija1.jpg"><br>
            <span id="baletRezervacijaNaziv0"> BALET1</span>
            <br> Cena: <span id="baletRezervacijaCena0"></span>
            <br>Količina
            <input type="number" min="0" max="20" placeholder="0" id="rezervacija0"><br>

        </div>
        <div>
            <img id="filharmonija2" class="linkovi" alt="filharmonija2" src="../slikezavrsni/filharmonija3.jpg"><br>
            <span id="baletRezervacijaNaziv1"> BALET2</span>
            <br> Cena: <span id="baletRezervacijaCena1"></span>
            <br>Količina
            <input type="number" min="0" max="20" placeholder="0" id="rezervacija1">
        </div>
        <div>
            <img id="filharmonija3" class="linkovi" alt="filharmonija3" src="../slikezavrsni/filharmonija7.jpg"><br>
            <span id="baletRezervacijaNaziv2"> BALET3</span>
            <br> Cena: <span id="baletRezervacijaCena2"></span>
            <br>Količina
            <input type="number" min="0" max="20" placeholder="0" id="rezervacija2">
        </div>
        <div>
            <img id="filharmonija4" class="linkovi" alt="filharmonija4" src="../slikezavrsni/filharmonija5.jpg"><br>
            <span id="baletRezervacijaNaziv3"> BALET4</span>
            <br> Cena: <span id="baletRezervacijaCena3"></span>
            <br>Količina
            <input type="number" min="0" max="20" placeholder="0" id="rezervacija3">
        </div>
        <div>
            <img id="filharmonija5" class="linkovi" alt="filharmonija5" src="../slikezavrsni/filharmonija4.jpg"><br>
            <span id="baletRezervacijaNaziv4"> BALET5</span>
            <br> Cena: <span id="baletRezervacijaCena4"></span>
            <br>Količina
            <input type="number" min="0" max="20" placeholder="0" id="rezervacija4">
        </div>-->
        </div>
    </div>
     
       </div>
   </div>



    <script src="../js/filharmonija.js"></script>
    <script>
    </script>
</body>

</html>