<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/filharmonija.css" />

    <title>Filharmonija</title>

</head>

<body>

    <div class="parallax1"></div>


    <div class="opis">
        <img id="filharmonija1" class="linkovi" alt="filharmonija1" src="../slikezavrsni/filharmonija1.jpg"> KONCERT1
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique diam in tempor condimentum. Proin condimentum a purus non malesuada. Nulla et dignissim libero, a accumsan enim. Quisque at auctor dolor. Praesent vitae neque iaculis,
            molestie sapien quis, pretium est. Sed vehicula</p>
        <img id="filharmonija2" class="linkovi" alt="filharmonija2" src="../slikezavrsni/filharmonija3.jpg">KONCERT2
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique diam in tempor condimentum. Proin condimentum a purus non malesuada. Nulla et dignissim libero, a accumsan enim. Quisque at auctor dolor. Praesent vitae neque iaculis,
            molestie sapien quis, pretium est. Sed vehicula</p>
    </div>

    <div class="parallax2"></div>

    <div class="opis">
        <img id="filharmonija3" class="linkovi" alt="filharmonija3" src="../slikezavrsni/filharmonija7.jpg"> KONCERT3
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique diam in tempor condimentum. Proin condimentum a purus non malesuada. Nulla et dignissim libero, a accumsan enim. Quisque at auctor dolor. Praesent vitae neque iaculis,
            molestie sapien quis, pretium est. Sed vehicula</p>
        <img id="filharmonija4" class="linkovi" alt="filharmonija4" src="../slikezavrsni/filharmonija5.jpg">KONCERT4
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique diam in tempor condimentum. Proin condimentum a purus non malesuada. Nulla et dignissim libero, a accumsan enim. Quisque at auctor dolor. Praesent vitae neque iaculis,
            molestie sapien quis, pretium est. Sed vehicula</p>
    </div>

    <div class="parallax3"></div>

    
    



   <!-- <script src="../js/filharmonija.js"></script>-->
    <script>
    </script>
</body>

</html>