<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rezervacija </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
    <link rel="icon" href="../slikezavrsni/drama6.jpg" type="image/png">
    <style type="text/css">
        th,
        td {
            width: 100px;
        }
        
        input {
            width: 100px;
            text-align: center;
            font-weight: bold;
        }
    </style>

</head>

<body>
    <p id="greskaPriRezervaciji"></p>

    <a href="../index.html">HOME</a>
    <a href="unos.html">UNOS</a>
    <a href="prodaja.html">PRODAJA</a>

    <div class="omotac">
        <h1> <i class="fa fa-opencart" style="font-size:48px;color:darkgoldenrod">  </i> REZERVACIJA DOGAĐAJA</h1>

        <div id="ispisOpcijaFiltera"></div>

        <table id="roditelj" style="position: relative;left: -30%;">
            <tr id="tabelaFiltriranihDogadjaja">
                <th>NAZIV</th>
                <th>AUTOR</th>
                <th>CENA </th>
                <th>DATUM</th>
                <th>KOLIČINA ULAZNICA</th>
                <th>VRSTA DOGAĐAJA</th>
                <th>SCENA</th>
                <th>REZERVACIJA</th>
            </tr>
        </table>




    </div>
    <script src="../js/filter.js">
    </script>



</body>

</html>