<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>O nama</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
    <link rel="icon" href="../slikezavrsni/balerina6.jpg" type="image/jpg">
    <style>
        .omotac {
            position: relative;
            left: 5%;
        }
    </style>

</head>

<body>

    <div class="omotac1">
        <a id="onama" href="../index.html">Home</a>
        <a id="galerija" href="galerija.html">Galerija</a>
        <a id="unos" href="unos.html">Unos</a>
        <a id="prodaja" href="prodaja.html">Prodaja</a>
        <a id="eshop" href="prodavnica.html">E-SHOP</a>
        <a id="registracija" href="registracija.html">Registracija</a>
        <a id="logovanje" href="logovanje.html">Logovanje</a>
    </div>
    <script src="../js/main.js"></script>
</body>

</html>