<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/baletshop.css" />

    <title>Opera</title>

</head>

<body>
        <div class="omotacKorpe">  
                <div id="omotacDugme">
                        <button type="button" class="dugme" id="dugme"><a href="korpakorisnik.html" > Kupi<a></a></button><br>
                        <button type="button" class="dugme" id="dugme1"><a href="korpakorisnik.html"> Korpa<a></a></button><br>
                        <button type="button" class="dugme" id="dugme2"><a href="prodavnica.html">E-shop</a> </button>
                        <button type="button" class="dugme" id="dugme3"><a href="../index.html"> Home</a></button><br>
                                
                    </div>    

                <div class="opis" id="korpa">
                </div>    
        
       </div>



    <script src="../js/opera.js"></script>
    <script>
    </script>
</body>

</html>