<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/opera.css" />

    <title>Opera</title>

</head>

<body>

    <div class="parallax1"></div>


    <div class="opis">
        <img id="opera1" class="linkovi" alt="opera1" src="../slikezavrsni/opera1.jpg"> OPERA1
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique diam in tempor condimentum. Proin condimentum a purus non malesuada. Nulla et dignissim libero, a accumsan enim. Quisque at auctor dolor. Praesent vitae neque iaculis,
            molestie sapien quis, pretium est. Sed vehicula</p>
        <img id="opera2" class="linkovi" alt="opera2" src="../slikezavrsni/opera2.jpg">OPERA2
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique diam in tempor condimentum. Proin condimentum a purus non malesuada. Nulla et dignissim libero, a accumsan enim. Quisque at auctor dolor. Praesent vitae neque iaculis,
            molestie sapien quis, pretium est. Sed vehicula</p>
    </div>

    <div class="parallax2"></div>

    <div class="opis">
        <img id="opera3" class="linkovi" alt="opera3" src="../slikezavrsni/opera3.jpg"> OPERA3
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique diam in tempor condimentum. Proin condimentum a purus non malesuada. Nulla et dignissim libero, a accumsan enim. Quisque at auctor dolor. Praesent vitae neque iaculis,
            molestie sapien quis, pretium est. Sed vehicula</p>
        <img id="opera4" class="linkovi" alt="opera4" src="../slikezavrsni/opera4.jpg">OPERA4
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tristique diam in tempor condimentum. Proin condimentum a purus non malesuada. Nulla et dignissim libero, a accumsan enim. Quisque at auctor dolor. Praesent vitae neque iaculis,
            molestie sapien quis, pretium est. Sed vehicula</p>
    </div>

    <div class="parallax3"></div>

    <div class="opis" id="korpa">

        <div id="omotacDugme">
            <button type="button" class="dugme" id="dugme"><a href="korpakorisnik.html" > Kupi<a></a></button><br>
            <button type="button" class="dugme" id="dugme1"><a href="korpakorisnik.html"> Korpa<a></a></button><br>
            <button type="button" class="dugme" id="dugme2"><a href="prodavnica.html">E-shop</a> </button>
        </div>
    </div>



    <script src="../js/opera.js"></script>
    <script>
    </script>
</body>

</html>