<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registracija</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
    <link rel="icon" href="../slikezavrsni/drama6.jpg" type="image/jpg">

</head>

<body>
    <div class="omotac">
        <h3> <i class="fa fa-opencart" style="font-size:44px;color:red"> REGISTRACIJA KORISNIKA </i></h3>
        <button type="reset" onclick="noviFormular()" class="fiksni">NOVI KORISNIK</button>
        <!--
            <button type="button" onclick="prikaziSvePacijente()" class="fiksni" id="sviPacijenti" style="display: none"> SVI PACIJENTI</button>
            <a href="filteri.html" target="_blank">FILTRIRAJ PACIJENTE</a>
            -->

        <a href="logovanje.html">LOGOVANJE</a>
        <a href="../index.html">HOME</a>

        <!--<form id="pokupi" style="display: none">-->
        <form id="pokupi">
            <fieldset>
                <legend>Registracija korisnika</legend>

                Ime:
                <span class="greska" title="Pogrešan unos. Unesite ime"></span>
                <input type="text" placeholder="Unesite ime" id="naziv" onblur="valid('naziv', 0)" onfocus="unos(0)" required>
                <br> Prezime:
                <span class="greska" title="Pogrešan unos. Unesite prezime"></span>
                <input type="text" placeholder="Unesite prezime" id="autor" onblur="valid('autor', 1)" onfocus="unos(1)" required>

                <br>E-mail:
                <span class="greska" title="Pogrešan unos. Unesite validan E-mail"></span>
                <input type="email" placeholder="E-mail" id="cena" onblur="validMail('cena', 2)" onfocus="unos(2)" required>
                <br> Password:
                <span class="greska" title="Pogrešan unos. Unesite password"></span>
                <input type="password" id="datum" name="bday" onblur="valid1('datum', 3)" onfocus="unos(3)" required><br> Status:

                <input type="number" placeholder="administrator" id="kolicina" readonly value="1"><br>

                <button type="button" onclick="registracija()">Pokupi</button>
                <button type="reset" onclick="obrisi()">Obriši</button>

            </fieldset>
        </form>
    </div>
    <script src="../js/registracija.js"></script>
</body>

</html>